.container{
    background-color: red;
    height: 300px;
    color: white;
}


.container-fluid{
    background-color: black;
    height: 300px;
    color: white;
}

.margin{
    height: fit-content ;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    flex-direction:row;
}

.myImage{   
   
    flex: 30%;
    max-width: 33.33333333333%;
    padding: 1vh;
}

.navbar-collapse.in {
    display: block !important;
}

.carousel-inner img{

    width: 100%;
}
